<div class="container-fluid fill text-center">
  <%= will_paginate @products %>
  <table class="table table-center table-striped table-hover text-center">
    <thead><tr>
      <th><h3>Image</h3></th>
      <th><h3>Name</h3></th>
    </tr></thead>
    <tbody>
    <% @products.each do |product| %>
      <% if product.lots.size > 0%>
        <tr>
          <td> <img src="<%= product.lots.first.image %>" alt="<%= product.id %>"> </td>
          <td> <b><%= link_to " #{product.name}", product %></b> </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @products %>
</div>
